.PhoneDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PhoneDescription {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  align-items: center;
  margin-bottom: 20px;
}

.PhoneImage {
  width: 100%;
  margin-bottom: 20px;
}

.DescriptionList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 200px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  overflow-y: scroll;
}

.DescriptionList li {
  padding: 5px 0;
}

.DescriptionItem {
  color: #4982ee;
  font-weight: 500;
}

.VisitWebLink,
.ShowExitBtn {
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #8339f0;
  font-weight: 500;
  font-size: 0.875rem;
  outline: none;
  overflow: hidden;
}

.ShowExitBtn {
  border-radius: 5px;
  border: 2px solid #8339f0;
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .PhoneDescription {
    flex-direction: row;
    align-items: flex-start;
    font-size: 1rem;
  }

  .PhoneImage {
    width: 400px;
    padding: 10px;
    margin: 0;
  }

  .DescriptionList {
    padding: 10px;
    border: none;
    height: auto;
    overflow: inherit;
  }

  .VisitWebLink,
  .ShowExitBtn {
    font-size: 1rem;
  }
}
